<app-menu></app-menu>

<div>

    <h2>Marvel Games</h2>
    <p>Marvel Games es la marca editorial de videojuegos basada en las propiedades de Marvel, y es la división</p>
    <p>de videojuegos de Marvel Entertainment. Antes de la incorporación de Marvel Games, los videojuegos</p>
    <p>basados en propiedades de Marvel lanzados entre 1982 y 1985 fueron manejados por Marvel Comics</p>
    <p>Group, con los videojuegos de Marvel de 1986 a 1998 a cargo de Marvel Entertainment Group, mientras</p>
    <p>que los videojuegos basados en propiedades de Marvel antes de la incorporación de Marvel Games eran</p>
    <p>manejados directamente por Marvel Enterprises.</p>
    <hr>
    <h2>Historia</h2>
    <p>Establecida en marzo de 2009, la etiqueta gestiona la concesión de licencias de las propiedades</p>
    <p>intelectuales de Marvel a los desarrolladores y editores de videojuegos. Después de que The Walt Disney</p>
    <p>Company adquiriera Marvel Entertainment en 2009,​1 Los activos de Marvel Games se integraron en</p>
    <p>Disney Interactive, mientras que la división en sí permaneció bajo Marvel Entertainment.</p>
    <p>La marca Marvel Games revivió después de que Disney suspendiera su negocio de medios interactivos</p>
    <p>como desarrollador y editor propio cerrando Disney Interactive Studios, optando por licenciar sus</p>
    <p>propiedades intelectuales para videojuegos.2​ Desde entonces, Marvel Games ha estado involucrado en</p>
    <p>la publicación y distribución de todos los videojuegos relacionados con Marvel con terceros.</p>

</div>
