<app-menu></app-menu>

<app-nombre-usuario [nombre]="nombre"></app-nombre-usuario> 

<h1>LISTA DE VIDEOJUEGOS</h1>

<table>    
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Valoracion media:</th>
            
        </tr>
    </thead>
    <tbody>
        <!-- 
            Recorremos la lista y vamos introduciendo en la tabla en etiquetas <tr> los diferente videojuegos de la lista
            de objetos Videojuego creada en el .ts . Además si pulsamos en alguna fila, ejecutaremos el metodo
            "verDetalle", pasandole el videojuego seleccionado
        -->
        <tr class="juego" *ngFor="let v of listaVideojuegos" (click)="verDetalle(v)" >
            <td>{{ v.id }}</td>
            <td>{{ v.titulo }}</td>
            <td>{{ v.valoracionMedia }}</td>
        </tr>
       
    </tbody>
</table> 





